{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }}{% endblock title %}
{% block description %}{{ object.description_SEO }}{% endblock description %}
{% block keywords %}{{ object.keywords }}{% endblock keywords %}
{% block content %}
    {% load staticfiles %}
    {% include 'templates/_breadcrumbs.html' %}
    <section class="details">
        <div class="container">
            <h4 class="display-4">{{ title }}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-block">
                        {% if object.img %}
                            <img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{% static '/media/' %}{{ object.img }}" alt="" width="100%">
                        {% else %}
                            {% if  object.url %}
                                <img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{{ object.url }}" alt="" width="100%">
                            {% else %}
                                <p style="text-align: center"><small><em>{% trans 'place for image' %}</em></small></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="card-title">{{ object.title|upper }}{% if object.price %} | {{ object.price }} €{% endif %}</h4>
                    <p class="card-text text-justify">{{ object.description }}</p>
                    <a href="{{ object.id }}" class="btn btn-danger text-uppercase" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">{% trans 'book now' %}</a>
                    {% include 'templates/_share.html' %}
                    {% if user.is_staff %}
                        <a class="btn btn-sm btn-danger-outline" href="/tours/{{ object.id }}/edit/">
                            <i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %}</a>
                        <a type="button" class="btn btn-sm btn-danger-outline" onclick="delete_contact({{ object.id }})" data-toggle="modal" data-target=".delete_tour"><i class="fa fa-trash"></i> {% trans 'Delete'%}</a></a>
                    {% endif %}
                    {% include 'templates/modal/_delete_tour.html' %}
                    {% include 'templates/_modal_book_now.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}