{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }}{% endblock title %}
{% block beadcrumbs %}
    {% include 'templates/_breadcrumbs.html' %}
{% endblock %}
{% block content %}
    <section>
    <div class="container contact">
        <div class="row">
            <h1 class="display-4">{{ title }}</h1>
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#email_me">{% trans 'Email me' %}</a>
            {% include 'templates/_modal_email_me_form.html' %}
        </div>
    </div>
    </section>
{% endblock %}