{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'Home' %}{% endblock %}
{% block keywords %}{% endblock keywords %}
{% block description %}{% endblock description %}
{% block content %}
    {% include 'templates/_breadcrumbs.html' %}
    <article>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>
            <div style="min-height: 600px; max-height: 600px" class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img style="width: 100%;object-fit: cover; min-height: 600px" src="{% thumbnail img1 1920x1080 crop="smart" %}">
                    <h1 class="main-header display-3 type">{{ header }}</h1>
                    <button class="btn btn-lg btn-gold btn-contact" data-toggle="modal" data-target="#contactUs">{% trans 'Contact us' %}</button>
                </div>
                <div class="carousel-item">
                    <img style="width: 100%;object-fit: cover; min-height: 600px" src="{% thumbnail img2 1920x1080 crop="smart" %}">
                    <h1 class="main-header display-3 type">{{ header }}</h1>
                    <button class="btn btn-lg btn-gold btn-contact" data-toggle="modal" data-target="#contactUs">{% trans 'Contact us' %}</button>
                </div>
                <div class="carousel-item">
                    <img style="width: 100%;object-fit: cover; min-height: 600px" src="{% thumbnail img3 1920x1080 crop="smart" %}">
                    <h1 class="main-header display-3 type">{{ header }}</h1>
                    <button class="btn btn-lg btn-gold btn-contact" data-toggle="modal" data-target="#contactUs">{% trans 'Contact us' %}</button>
                </div>
                <div class="carousel-item">
                    <img style="width: 100%;object-fit: cover; min-height: 600px" src="{% thumbnail img4 1920x1080 crop="smart" %}">
                    <h1 class="main-header display-3 type">{{ header }}</h1>
                    <button class="btn btn-lg btn-gold btn-contact" data-toggle="modal" data-target="#contactUs">{% trans 'Contact us' %}</button>
                </div>
                <div class="carousel-item">
                    <img style="width: 100%;object-fit: cover; min-height: 600px" src="{% thumbnail img5 1920x1080 crop="smart" %}">
                    <h1 class="main-header display-3 type">{{ header }}</h1>
                    <button class="btn btn-lg btn-gold btn-contact" data-toggle="modal" data-target="#contactUs">{% trans 'Contact us' %}</button>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">{% trans 'Previous' %}</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">{% trans 'Next' %}</span>
            </a>
        </div>
    </article>
    <audio autoplay loop controls preload="true" class="player">
        <source src="media/{{ audio }}" type="audio/mpeg">
    </audio>
    <article class="tours">
        <div class="container">
            <h3 class="display-3 text-md-center">{{ section.tour_header }}</h3>
            <p style="text-align: center"><a href="{% url 'tour:list' %}">
                <em>{% trans 'full tour list' %}</em>
            </a></p>
            <div class="card-columns">
                {% if 'pt' in request.LANGUAGE_CODE %}
                    {% for object in tour_list %}
                        {% include 'templates/_tour_card_pt.html' %}
                    {% endfor %}
                {% endif %}
                {% if 'en' in request.LANGUAGE_CODE %}
                    {% for object in tour_list %}
                        {% include 'templates/_tour_card_gb.html' %}
                    {% endfor %}
                {% endif %}
                {% if 'de' in request.LANGUAGE_CODE %}
                    {% for object in tour_list %}
                        {% include 'templates/_tour_card_de.html' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </article>
    <article class="offer">
        <div class="container marketing">
            <h3 class="display-3 text-md-center">{{ section.offer_header }}</h3>
            <p style="text-align: center"><a href="{% url 'offer:list' %}"><em>{% trans 'full offer list' %}</em></a></p>
            <div class="card-columns">
                {% for object in offer_list%}
                    {% include 'templates/_offer_card.html' %}
                {% endfor %}
            </div>
            {% if user.is_staff or user.is_superuser %}
                <a class="btn btn-warning" href="{% url 'offer:create' %}"><i class="fa fa-plus"></i> {% trans  'Create Offer' %}</a>
            {% endif %}
        </div>
    </article>
    {% include 'templates/modal/_contact_us.html' %}
{% endblock content %}
