@import 'variables';
@import 'bourbon/bourbon';

.btn.btn-success-outline {
  @include transition(all .3s ease-in-out);
  color:darkgoldenrod;
  border:1px solid darkgoldenrod;
  transition:all .3s ease;
}
.btn.btn-success-outline:hover {
  color:#FFF;
  background-color:gold;
  border:1px solid gold;
}
.btn-danger {
  color: $color_white;
  background-color: $color-danger;
  border-color: $color-danger;
  @include transition(all .3s ease-in-out);
}
.btn-danger:hover {
  color: $color_white;
  background-color: #C83560;
  border-color: #C83560;
}
.btn-danger-outline {
  color: $color-danger;
  background-color: $color_white;
  border-color: $color-danger;
  @include transition(all .3s ease-in-out);
}
.btn-danger-outline:hover{
  color: $color_white;
  background-color: $color-danger;
  border-color: $color-danger;
  .fa {
    color: $color_white;;
  }
}
.btn-blue {
  color: $color_white;
  background-color: $btn-primary;
  border-color: $btn-primary;
  transition: all .3s ease;
  @include transition(all .3s ease-in-out);
}
.btn-blue:hover{
  color: $btn-primary;
  background-color: $color_white;
  border-color: $color_white;
}
.btn-blue-outline {
  color: $btn-primary;
  background-color: $color_white;
  border-color: $btn-primary;
  transition: all .3s ease;
  @include transition(all .3s ease-in-out);
}
.btn-blue-outline:hover {
  color: $color_white;
  background-color: $btn-primary;
  border-color: $color_white;
}
.btn-warning {
  @include transition(all .3s ease-in-out);
  .fa {
    color: $color_white
  }
}
.btn-gold {
  color: $color_white;
  background-color: $btn-gold;
  border-color: $btn-gold;
  @include transition(all .3s ease-in-out);
}
.btn-gold {
  color: $color_white;
  background-color: $btn-gold;
  border-color: $btn-gold;
  @include transition(all .3s ease-in-out);
}
.btn-gold:hover{
  color: $color_white;
  background-color: $btn-gold-hover;
  border-color: $btn-gold-hover;
}
.btn {
  margin: 3px 0;
}
.btn-contact {
  position: absolute;
  top: 400px;
  left: 15%;
  right: 15%;
  z-index: 100;
  @include transition(all .3s ease-in-out);
  opacity: 0.8;
}
.btn-contact:hover {
  z-index: 100;
  opacity: 1;
}
.btn-booking {
  margin-top: 10px;
  background-color: $btn-booking;
  border-color: $btn-booking;
  color: #FFFFFF;
  @include transition(all .3s ease-in-out);
  .text-blue {
    color: #009FE2;
  }
}
.btn-booking:hover {
  background-color: lighten($btn-booking, 10%);
  border-color: lighten($btn-booking, 10%);
  color: #FFFFFF;
}
.btn-car-rentals {
  margin-top: 10px;
  background-color: #FFFFFF;
  border-color: #F37121;
  @include transition(all .3s ease-in-out);
  .car {
    color: #F37121;
    font-size: 18px;
    @include transition(all .3s ease-in-out);
  }
  .rentals {
    color: #FAA819;
    font-size: 18px;
    @include transition(all .3s ease-in-out);
  }
  .com {
    color: #808283;
    font-size: 11px;
    @include transition(all .3s ease-in-out);
  }

}
.btn-car-rentals:hover {
  background-color: lighten(#F37121, 20%);;
  border-color: lighten(#F37121, 20%);
  .car {
    border-color: darken(#F37121, 20%);
    font-size: 18px;
  }
  .rentals {
    color: #FFFFFF;
  }
  .com {
    border-color: darken(#808283, 20%);
  }
}