@import 'bourbon/bourbon';
@import 'variables';
.card {
  border: 0;
  @include background(linear-gradient(to right, rgb(255, 255, 255), rgb(238, 238, 238)));
  transition: all .3s ease;
  h4.card-title {
    color: $color_blue;
  }
  p {
    color: $color_blue;
  }
  &:hover {
    transition: all .3s ease;
    @include background(linear-gradient(to left, #ECE9E6, #FFFFFF));
  }
}
.fa {
  color: $color_red;
}
.card-header {
  color: $color-sand;
  background-color: $color_blue_light;
}
.card-footer {
  color: $color-sand;
  @include background(linear-gradient(to right, rgba(128, 128, 128, 0.2), rgba(245, 245, 245, 0.1)));
}
.shadow {

  transition: all .3s ease;
  -webkit-box-shadow: 0 0 50px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 50px -4px rgba(0,0,0,0.2);
  box-shadow: 0 0 50px -4px rgba(0,0,0,0.2);
}
.shadow:hover {
  -webkit-box-shadow: 0 0 50px -4px rgb(0, 0, 0);
  -moz-box-shadow: 0 0 50px -4px rgb(0, 0, 0);
  box-shadow: 0 0 50px -4px rgb(0, 0, 0);
}
.img-fluid {
  width: 100%;
  object-fit: cover;
}
.awesome-background{
  @include background(linear-gradient(to left, #ECE9E6, #FFFFFF));
}
.refills-cards {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
}

.refills-card {
  margin: 0 $refills-card-margin $base-spacing $refills-card-margin;
  position: relative;
  min-width: 300px;
  max-width: 380px;
  @include flex-basis(15em);
  @include flex-grow(1);
  border: $refills-card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  background-color: $refills-card-background;
  cursor: pointer;
  @include transition(all 0.2s ease-in-out);

  .refills-card-image {
    background-color: $refills-card-image-hover-color;
    //height: 300px;
    //max-height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      @include image-rendering (crisp-edges);
      @include border-top-radius($base-border-radius);
      object-fit: cover;
      opacity: 1;
      transition: all 0.2s ease-in-out;

    }
  }

  .refills-card-header {
    background-color: $refills-card-header-background;
    border-bottom: $refills-card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
  }

  .refills-card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $refills-card-image-hover-opacity;
    }
  }
  &:active {
    background-color: $refills-card-background;

    .refills-card-header {
      background-color: $refills-card-background;
    }
  }
}


.card-columns {
  column-count: 1;
}

@each $media, $size in (40: 2, 60: 3, 70: 3, 90: 4) {
  @media only screen and (min-width: #{$media}em) {
    .card-columns {
        column-count: $size;
    }
  }
}


