@import 'bourbon/bourbon';
@import 'variables';
//
//footer {
//  padding-top: 60px;
//  padding-bottom: 30px;
//  @include background(linear-gradient(to left, $color_blue, $color_blue_light));
//  h4 {
//    //color: $color_red;
//  }
//  a {
//    color: white;
//    transition: all .3s ease;
//  }
//  a:hover {
//    color: $color_blue_light;
//  }
//  .fa {
//    display: inline-block;
//    margin-left: auto;
//    margin-right:auto;
//    //color: $color_red;
//  }
//  p {
//    color: white;
//  }
//}

.footer {
  .fa {
    color: $footer-link-color;
    &:hover,
    &:focus {
      color: $footer-color
    }
  }
  @include background(linear-gradient(to left, $color_blue, $color_blue_light));
  padding: ($base-spacing * 2) ;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-links {
    margin-bottom: $base-spacing;
    @include  display(flex);
    @include  flex-wrap(wrap);
    @include justify-content(center);
    @include flex-direction(row);
  }
  @media all and (max-width: 480px){
    .footer-links {
      @include flex-direction(column);
    }
  }
  .div-ul {
    @include flex-basis(100%/3);
    @include flex-shrink(0);
    margin-bottom: $base-spacing * 2;
    padding: 0;
  }
  .div-ul-100 {
    @include flex-basis(100%);
    @include flex-shrink(0);
    margin-bottom: $base-spacing * 2;
    padding: 0;
  }

  .div-ul-60 {
    @include flex-basis(60%);
    @include flex-shrink(0);
    margin-bottom: $base-spacing * 2;
    padding: 0;
  }

  .div-li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
  }

  .div-li a {
    color: $footer-link-color;
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .div-li.languages {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-around);
    @include flex-direction(row);
  }
  @media all and (max-width: 480px){
    .div-li.languages {
      @include flex-direction(column);
    }
  }
  .div-li.languages > form {
    @include flex-basis(100%/4);
    @include flex-shrink(0);
  }

  .div-li h3 {
    color: $footer-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }


  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}