@import 'variables';
@import 'bourbon/bourbon';

.dropdown-menu {
  margin-top:13px !important;
}

.navbar {
  border-radius:0;
  background-color:$color_blue_light;
  outline: 0;
  @include transition(all .3s ease-in-out);
}
.navbar:hover {
  background-color:rgba(2,117,216,1);
}
.navbar-collapse {
  background-color: rgba(240, 248, 255, 0.8);
}
.dropdown-menu {
  margin-top: 8px;
  a {
    color: $color-blue
  }
}
ol.nav.navbar-nav>{
  li>a.nav-link {
    color: gold;
    @include transition(all .3s ease-in-out);
  }
  li>a.nav-link:hover, div.btn-group>a:hover{
    color: darkgoldenrod;
  }
  a.hidden-sm-down.nav-link.dropdown-toggle {
    color: gold;
    @include transition(all .3s ease-in-out);
  }

}
.navbar-toggler {
  color: gold;
  @include transition(all .3s ease-in-out);
}
.navbar-toggler:hover {
  color: darkgoldenrod;
}
.nav-item.toggler {
  display: none;
}
@media only screen and (max-width: 480px) {
    .nav-item.toggler {
        display: inline-block;
    }
  }

