@import 'variables';

.type {
  background: rgba(184, 134, 11, 0.3);
  color: #fff;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-weight: 100;
  transition: all .3s ease;
  padding: 30px 30px 30px 30px;
}
.type:hover {
  background:rgba(184, 134, 11, 0.7);
}

.blockquote {

    border-left: .25rem solid $color-blue-light;
}
.main-header {
  position: absolute;
  top: 180px;
  left: 15%;
  right: 15%;
  border-radius: 7px;
}


