{% load i18n %}
<div class="navbar-collapse collapse inverse" id="navbar-header">
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-6">#}
{#                <h4 class="text-md-center text-sm-center text-xs-center">{% trans 'Site Map' %}</h4>#}
                <ol style="margin: 0" class="list-unstyled">
                    <li style="padding: 20px" class="hidden-md-up text-md-center text-sm-center text-xs-center"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                    <li style="padding: 20px" class="hidden-md-up text-md-center text-sm-center text-xs-center"><a href="{% url 'tour:list' %}" >{% trans 'Tours & Excursions' %}</a></li>
                    <li style="padding: 20px" class="hidden-md-up text-md-center text-sm-center text-xs-center"><a href="{% url 'review:list' %}">{% trans 'Reviews' %}</a></li>
                    <li style="padding: 20px" class="hidden-md-up text-md-center text-sm-center text-xs-center"><a href="{% url 'gallery:list' %}">{% trans 'Gallery' %}</a></li>
                    <li style="padding: 20px" class="hidden-md-up text-md-center text-sm-center text-xs-center"><a href="{% url 'rent_car:list' %}">{% trans 'Car Rent in Lisbon' %}</a></li>
                    <li style="padding: 20px" class="hidden-md-up text-md-center text-sm-center text-xs-center"><a href="{% url 'rent_hotel:list' %}">{% trans 'Hotels in Lisbon' %}</a></li>
                    <li style="padding: 20px" class="hidden-md-up text-md-center text-sm-center text-xs-center"><a href="{% url 'about' %}">{% trans 'About Us' %}</a></li>
                    <li style="padding: 20px" class="hidden-md-up text-md-center text-sm-center text-xs-center"><a href="{% url 'contact:list' %}">{% trans 'Contacts' %}</a></li>
                    <li style="padding: 20px" class="hidden-md-up text-md-center text-sm-center text-xs-center"><a href="{% url 'news:list' %}">{% trans 'News' %}</a></li>
                    <li style="padding: 20px" class="hidden-md-up text-md-center text-sm-center text-xs-center"><a href="{% url 'related_links:list' %}">{% trans 'Related Links' %}</a></li>
                    {% if user.is_staff or user.is_superuser %}
                        <li style="padding: 20px" class="hidden-md-up text-md-center text-sm-center text-xs-center"><a href="/admin/">{% trans 'Admin Panel' %}</a></li>
                    {% endif %}
                    <li style="padding: 20px" class="text-md-center text-sm-center text-xs-center">
                        <form class="" method='GET' action=''>
            <input class="form-control" type='text' name='q' placeholder='{% trans 'Search' %}' value='{{ request.GET.q }}'/>
            <input class="btn btn-success-outline" type='submit' value='{% trans 'Search' %}' />
        </form>
                    </li>
                </ol>

{#            </div>#}
{#            <div class="col-md-6">#}
{#                {% include 'templates/nav/_follow_us.html' %}#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
<div class="navbar navbar-static-top navbar-dark bg-inverse">
    <div class="container-fluid">
        <ol class="nav navbar-nav">
            <li class="nav-item hidden-lg-up">
                <button class="navbar-toggler" type="button" data-toggle='collapse' data-target="#navbar-header">
                    &#9776;
                </button>
            </li>
            <li class="nav-item hidden-sm-down">
                <a class="nav-link" href="{% url 'home' %}">{% trans 'Home' %}</a>
            </li>
            <li class="nav-item hidden-md-down">
                <div class="btn-group">
                <a style="cursor: pointer;color: gold;"  class=" hidden-sm-down nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Tours & Excursions' %}</a>
                <div class="dropdown-menu">
                    {% if categories_list %}
                        {% for category in categories_list %}
                            <a href="/tours/{{ category.url }}" class="dropdown-item">{{ category.category }}</a>
                        {% endfor %}
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'tour:list' %}">{% trans 'All Tours' %}</a>
                </div>
                </div>
            </li>
            <li class="nav-item hidden-sm-down">
                <div class="btn-group">
                    <a style="cursor: pointer;color: gold;"  class=" hidden-sm-down nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Offers' %}</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'rent_car:list' %}" class="dropdown-item">{% trans 'Car Rent in Lisbon' %}</a>
                        <a href="{% url 'rent_hotel:list' %}" class="dropdown-item">{% trans 'Hotels in Lisbon' %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'offer:list' %}">{% trans 'Full Offer list' %}</a>
                    </div>
                </div>
            </li>
            <li class="nav-item hidden-sm-down">
                <a class="nav-link" href="{% url 'about' %}">{% trans 'About Us' %}</a>
            </li>
            <li class="nav-item hidden-sm-down">
                <a class="nav-link" href="{% url 'contact:list' %}">{% trans 'Contacts' %}</a>
            </li>
            <li class="nav-item hidden-sm-down">
                <a class="nav-link" href="{% url 'news:list' %}">{% trans 'News' %}</a>
            </li>
            <li class="nav-item hidden-sm-down">
                <div class="btn-group">
                    <a style="cursor: pointer;color: gold;"  class=" hidden-sm-down nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'More' %}</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'gallery:list' %}" class="dropdown-item">{% trans 'Gallery' %}</a>
                        <a href="{% url 'related_links:list' %}" class="dropdown-item">{% trans 'Related Links' %}</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'review:list' %}" class="dropdown-item">{% trans 'Reviews' %}</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                {% include 'templates/_user.html' %}
            </li>
        </ol>
        <form class="form-inline pull-xs-right hidden-md-down" method='GET' action=''>
            <input class="form-control" type='text' name='q' placeholder='{% trans 'Search' %}' value='{{ request.GET.q }}'/>
            <input class="btn btn-success-outline" type='submit' value='{% trans 'Search' %}' />
        </form>
    </div>
</div>