.alert {
  margin-bottom: 0; }

.breadcrumb {
  width: 100%;
  height: 50px;
  position: absolute;
  margin-bottom: 0;
  border-radius: 0;
  background-color: white;
  transition: all .5s ease;
  z-index: 500;
  -webkit-box-shadow: 0 0 50px -4px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 0 50px -4px rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 50px -4px rgba(0, 0, 0, 0.55); }

.breadcrumb:hover {
  color: darkgoldenrod;
  background-color: white; }

.btn-group.pull-right {
  z-index: 8000; }

.open > .dropdown-menu {
  z-index: 9999;
  display: block; }

ol.breadcrumb > li > a {
  color: darkgoldenrod;
  transition: all .5s ease; }

.btn.btn-success-outline {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: darkgoldenrod;
  border: 1px solid darkgoldenrod;
  transition: all .3s ease; }

.btn.btn-success-outline:hover {
  color: #FFF;
  background-color: gold;
  border: 1px solid gold; }

.btn-danger {
  color: #FFFFFF;
  background-color: #E83F6F;
  border-color: #E83F6F;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-danger:hover {
  color: #FFFFFF;
  background-color: #C83560;
  border-color: #C83560; }

.btn-danger-outline {
  color: #E83F6F;
  background-color: #FFFFFF;
  border-color: #E83F6F;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-danger-outline:hover {
  color: #FFFFFF;
  background-color: #E83F6F;
  border-color: #E83F6F; }
  .btn-danger-outline:hover .fa {
    color: #FFFFFF; }

.btn-blue {
  color: #FFFFFF;
  background-color: #2274A5;
  border-color: #2274A5;
  transition: all .3s ease;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-blue:hover {
  color: #2274A5;
  background-color: #FFFFFF;
  border-color: #FFFFFF; }

.btn-blue-outline {
  color: #2274A5;
  background-color: #FFFFFF;
  border-color: #2274A5;
  transition: all .3s ease;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-blue-outline:hover {
  color: #FFFFFF;
  background-color: #2274A5;
  border-color: #FFFFFF; }

.btn-warning {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn-warning .fa {
    color: #FFFFFF; }

.btn-gold {
  color: #FFFFFF;
  background-color: #ffd700;
  border-color: #ffd700;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-gold {
  color: #FFFFFF;
  background-color: #ffd700;
  border-color: #ffd700;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-gold:hover {
  color: #FFFFFF;
  background-color: #b8860b;
  border-color: #b8860b; }

.btn {
  margin: 3px 0; }

.btn-contact {
  position: absolute;
  top: 400px;
  left: 15%;
  right: 15%;
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.8; }

.btn-contact:hover {
  z-index: 100;
  opacity: 1; }

.btn-booking {
  margin-top: 10px;
  background-color: #003580;
  border-color: #003580;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn-booking .text-blue {
    color: #009FE2; }

.btn-booking:hover {
  background-color: #004ab3;
  border-color: #004ab3;
  color: #FFFFFF; }

.btn-car-rentals {
  margin-top: 10px;
  background-color: #FFFFFF;
  border-color: #F37121;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn-car-rentals .car {
    color: #F37121;
    font-size: 18px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .btn-car-rentals .rentals {
    color: #FAA819;
    font-size: 18px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .btn-car-rentals .com {
    color: #808283;
    font-size: 11px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.btn-car-rentals:hover {
  background-color: #f8af82;
  border-color: #f8af82; }
  .btn-car-rentals:hover .car {
    border-color: #a54409;
    font-size: 18px; }
  .btn-car-rentals:hover .rentals {
    color: #FFFFFF; }
  .btn-car-rentals:hover .com {
    border-color: #4e4f4f; }

.contact h5 {
  color: #0E2F56; }
.contact h4 {
  color: #0E2F56; }
.contact p {
  color: #0E2F56; }
.contact span {
  color: #FF304F;
  font-weight: bold; }

.card {
  border: 0;
  background: -webkit-linear-gradient( left , white, #eeeeee);
  background: linear-gradient(to right, white, #eeeeee);
  transition: all .3s ease; }
  .card h4.card-title {
    color: #0E2F56; }
  .card p {
    color: #0E2F56; }
  .card:hover {
    transition: all .3s ease;
    background: -webkit-linear-gradient( right , #ECE9E6, #FFFFFF);
    background: linear-gradient(to left, #ECE9E6, #FFFFFF); }

.fa {
  color: #FF304F; }

.card-header {
  color: #ffefd5;
  background-color: #118DF0; }

.card-footer {
  color: #ffefd5;
  background: -webkit-linear-gradient( left , rgba(128, 128, 128, 0.2), rgba(245, 245, 245, 0.1));
  background: linear-gradient(to right, rgba(128, 128, 128, 0.2), rgba(245, 245, 245, 0.1)); }

.shadow {
  transition: all .3s ease;
  -webkit-box-shadow: 0 0 50px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 50px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 50px -4px rgba(0, 0, 0, 0.2); }

.shadow:hover {
  -webkit-box-shadow: 0 0 50px -4px black;
  -moz-box-shadow: 0 0 50px -4px black;
  box-shadow: 0 0 50px -4px black; }

.img-fluid {
  width: 100%;
  object-fit: cover; }

.awesome-background {
  background: -webkit-linear-gradient( right , #ECE9E6, #FFFFFF);
  background: linear-gradient(to left, #ECE9E6, #FFFFFF); }

.refills-cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }

.refills-card {
  margin: 0 1em 1.5em 1em;
  position: relative;
  min-width: 300px;
  max-width: 380px;
  -webkit-flex-basis: 15em;
  -moz-flex-basis: 15em;
  flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  border: 1px solid #ffefd5;
  border-radius: 3px;
  box-shadow: 0 2px 4px #e6e6e6;
  background-color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .refills-card .refills-card-image {
    background-color: #ffefd5;
    overflow: hidden; }
    .refills-card .refills-card-image img {
      width: 100%;
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      object-fit: cover;
      opacity: 1;
      transition: all 0.2s ease-in-out; }
  .refills-card .refills-card-header {
    background-color: white;
    border-bottom: 1px solid #ffefd5;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    transition: all 0.2s ease-in-out; }
  .refills-card .refills-card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em; }
    .refills-card .refills-card-copy p {
      margin: 0 0 0.75em; }
  .refills-card:focus, .refills-card:hover {
    cursor: pointer; }
    .refills-card:focus img, .refills-card:hover img {
      opacity: 0.7; }
  .refills-card:active {
    background-color: white; }
    .refills-card:active .refills-card-header {
      background-color: white; }

.card-columns {
  column-count: 1; }

@media only screen and (min-width: 40em) {
  .card-columns {
    column-count: 2; } }
@media only screen and (min-width: 60em) {
  .card-columns {
    column-count: 3; } }
@media only screen and (min-width: 70em) {
  .card-columns {
    column-count: 3; } }
@media only screen and (min-width: 90em) {
  .card-columns {
    column-count: 4; } }
.fa {
  opacity: 0.7;
  transition: all .3s ease; }

.fa:hover {
  opacity: 1; }

.social {
  justify-content: center;
  align-items: center;
  width: 200px;
  display: flex;
  height: 63px; }

.fa.fa-user {
  font-size: 22px;
  color: aliceblue; }

.logo-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  align-items: center;
  justify-content: center; }
  .logo-container .fa.fa-user {
    font-size: 180px;
    color: #118DF0; }

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight';
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeueCyr-UltraLight"), url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"); }
.footer {
  background: -webkit-linear-gradient( right , #0E2F56, #118DF0);
  background: linear-gradient(to left, #0E2F56, #118DF0);
  padding: 3em;
  width: 100%; }
  .footer .fa {
    color: rgba(255, 255, 255, 0.4); }
    .footer .fa:hover, .footer .fa:focus {
      color: white; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 3em; }
  .footer .footer-links {
    margin-bottom: 1.5em;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row; }
  @media all and (max-width: 480px) {
    .footer .footer-links {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; } }
  .footer .div-ul {
    -webkit-flex-basis: 33.33333%;
    -moz-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    margin-bottom: 3em;
    padding: 0; }
  .footer .div-ul-100 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    margin-bottom: 3em;
    padding: 0; }
  .footer .div-ul-60 {
    -webkit-flex-basis: 60%;
    -moz-flex-basis: 60%;
    flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    margin-bottom: 3em;
    padding: 0; }
  .footer .div-li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
  .footer .div-li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    cursor: pointer; }
    .footer .div-li a:focus, .footer .div-li a:hover {
      color: white; }
  .footer .div-li.languages {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row; }
  @media all and (max-width: 480px) {
    .footer .div-li.languages {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; } }
  .footer .div-li.languages > form {
    -webkit-flex-basis: 25%;
    -moz-flex-basis: 25%;
    flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0; }
  .footer .div-li h3 {
    color: white;
    font-size: 1em;
    margin-bottom: 0.4em; }
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

.form-control {
  border-color: #ffefd5;
  transition: all .3s ease; }

.form-control:hover {
  border-color: #ffefd5; }

.form-control:focus {
  border-color: #118DF0; }

.form-control:active {
  border-color: #118DF0; }

.form-control:visited {
  border-color: #118DF0; }

select.form-language {
  margin-bottom: 8px;
  width: 152px;
  height: 37px;
  color: darkgoldenrod;
  border: 1px solid darkgoldenrod; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  color: #0E2F56; }

.side-image {
  background: #F9F9F9; }
  @media screen and (min-width: 53.75em) {
    .side-image {
      display: table;
      width: 100%;
      table-layout: fixed; } }
  .side-image .images-wrapper {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"), linear-gradient(#B5EBEB, #5DAC5D), no-repeat #B5EBEB scroll;
    background-color: #B5EBEB;
    background-size: cover;
    border-bottom: 1px solid rgba(38, 74, 38, 0.2);
    display: block;
    min-height: 12em;
    padding: 3em; }
    @media screen and (min-width: 53.75em) {
      .side-image .images-wrapper {
        display: table-cell;
        width: 33.33333%;
        background-position: bottom;
        background-size: cover;
        border-right: 1px solid rgba(38, 74, 38, 0.2); } }
  .side-image .side-image-content {
    display: table-cell;
    width: 100%;
    padding: 1em 1em 4em 1em; }
    @media screen and (min-width: 53.75em) {
      .side-image .side-image-content {
        display: table-cell;
        width: 66.66667%;
        padding: 4em 4em 8em 4em; } }
    .side-image .side-image-content h1 {
      margin-bottom: 0.9em; }
    .side-image .side-image-content h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase; }
    .side-image .side-image-content p {
      color: #333;
      line-height: 1.5em;
      margin-bottom: 3em; }

.parallax-window {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;
  position: relative;
  z-index: 9; }

.parallax-background {
  background: url("http://ic.pics.livejournal.com/lytdybr/14634326/164115/164115_original.jpg") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: 100%;
  left: 0;
  position: absolute;
  top: -10em;
  width: 100%; }

.parallax-background-news {
  background: url("http://previews.123rf.com/images/miss_j/miss_j1109/miss_j110900013/10694392-Grunge-textured-background-with-old-torn-newspapers-Stock-Photo.jpg");
  background-position: top;
  background-size: contain;
  background-color: beige;
  height: 100%;
  left: 0;
  position: absolute;
  /* top: -10em; */
  width: 100%; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 239, 213, 0.1) linear-gradient(0deg, rgba(255, 239, 213, 0.1), rgba(17, 141, 240, 0.4));
  display: block; }

.type {
  background: rgba(184, 134, 11, 0.3);
  color: #fff;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-weight: 100;
  transition: all .3s ease;
  padding: 30px 30px 30px 30px; }

.type:hover {
  background: rgba(184, 134, 11, 0.7); }

.blockquote {
  border-left: 0.25rem solid #118DF0; }

.main-header {
  position: absolute;
  top: 180px;
  left: 15%;
  right: 15%;
  border-radius: 7px; }

.pager {
  color: #0E2F56; }

.dropdown-menu {
  margin-top: 13px !important; }

.navbar {
  border-radius: 0;
  background-color: #118DF0;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.navbar:hover {
  background-color: #0275d8; }

.navbar-collapse {
  background-color: rgba(240, 248, 255, 0.8); }

.dropdown-menu {
  margin-top: 8px; }
  .dropdown-menu a {
    color: #0E2F56; }

ol.nav.navbar-nav > li > a.nav-link {
  color: gold;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
ol.nav.navbar-nav > li > a.nav-link:hover, ol.nav.navbar-nav > div.btn-group > a:hover {
  color: darkgoldenrod; }
ol.nav.navbar-nav > a.hidden-sm-down.nav-link.dropdown-toggle {
  color: gold;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.navbar-toggler {
  color: gold;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.navbar-toggler:hover {
  color: darkgoldenrod; }

.nav-item.toggler {
  display: none; }

@media only screen and (max-width: 480px) {
  .nav-item.toggler {
    display: inline-block; } }
section {
  padding-top: 100px;
  padding-bottom: 100px;
  background: -webkit-linear-gradient( right , #F6CAC9, #91A7D0);
  background: linear-gradient(to left, #F6CAC9, #91A7D0); }

article {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

article.tours {
  padding-bottom: 100px;
  padding-top: 100px;
  background: -webkit-linear-gradient( right , #C9FFBF, #FFAFBD);
  background: linear-gradient(to left, #C9FFBF, #FFAFBD); }

.offer {
  padding-bottom: 100px;
  padding-top: 100px;
  background: -webkit-linear-gradient( right , #EFEFBB, #D4D3DD);
  background: linear-gradient(to left, #EFEFBB, #D4D3DD); }

.form-box {
  max-width: 330px;
  display: block;
  margin: 0 auto; }

.img {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 600px; }

.img:after {
  opacity: 0.5; }

@media all and (max-width: 1000px) {
  /* screen size until 1000px */
  .display-3 {
    font-size: 3.2em;
    text-align: center; } }
@media all and (max-width: 500px) {
  /* screen size until 500px */
  .display-3 {
    font-size: 2.8em;
    text-align: center; } }
.my-label {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FF304F; }

.details {
  padding-top: 90px;
  padding-bottom: 120px; }

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.marketing h2 {
  font-weight: normal; }

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem; }

p.goldenlisbon {
  font-size: 19px;
  color: darkgoldenrod;
  display: inline-block;
  padding-top: 10px;
  position: relative;
  left: 40%;
  margin-bottom: 0;
  padding-bottom: 11px;
  transition: all .3s ease;
  z-index: 7000; }

p.goldenlisbon:hover {
  color: darkgoldenrod !important; }

.modal {
  z-index: 9999; }

.player {
  position: absolute;
  display: block;
  z-index: 9999;
  right: 0;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.player:hover {
  opacity: 1; }

/*# sourceMappingURL=styles.css.map */
