@import 'scss/alerts';
@import 'scss/breadcrumbs';
@import 'scss/button';
@import 'scss/contact';
@import 'scss/card';
@import 'scss/icons';
@import 'scss/fonts';
@import 'scss/footer';
@import 'scss/forms';
@import 'scss/general';
@import 'scss/typography';
@import 'scss/pagination';
@import 'scss/nav';
@import 'scss/section';
@import 'scss/variables';
@import 'scss/bourbon/bourbon';


.img {
display:flex;
flex-direction:row;
align-items:center;
min-height:600px;
}
.img:after {
opacity:0.5;
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
    .display-3 {
        font-size: 3.2em;
        text-align: center;
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    .display-3 {
        font-size: 2.8em;
        text-align: center;
        }
    }


.my-label {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $color_red;
}

.details {
    padding-top: 90px;
    padding-bottom: 120px;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
p.goldenlisbon {
  font-size: 19px;
  color: darkgoldenrod;
  display: inline-block;
  padding-top: 10px;
  position: relative;
  left: 40%;
  margin-bottom: 0;
  padding-bottom: 11px;
  transition: all .3s ease;
  z-index: 7000;

}
p.goldenlisbon:hover {
  color:darkgoldenrod !important;

}
.modal {
  z-index: 9999;
}

.player {
  position: absolute;
  display: block;
  z-index: 9999;
  right:0;
  opacity: 0.4;
  @include transition(all .3s ease-in-out);
}

.player:hover {
  opacity: 1;
}

