{% load thumbnail %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        {%  if object.img %}
        <div class="carousel-item active">
            <img style="object-fit: cover;width: 100%;" src="{% thumbnail object.img 1980x1080 crop="smart" %}" alt="First slide">
        </div>
            {%  if object.img1 %}
        <div class="carousel-item">
            <img style="object-fit: cover;width: 100%;" src="{% thumbnail object.img1 1980x1080 crop="smart" %}" alt="Second slide">
        </div>
            {% endif %}
            {%  if object.img2 %}
        <div class="carousel-item">
            <img style="object-fit: cover;width: 100%;" src="{% thumbnail object.img2 1980x1080 crop="smart" %}" alt="Third slide">
        </div>
            {% endif %}
            {%  if object.img3 %}
        <div class="carousel-item">
            <img style="object-fit: cover;width: 100%;" src="{% thumbnail object.img3 1980x1080 crop="smart" %}" alt="Third slide">
        </div>
            {% endif %}
            {%  if object.img4 %}
        <div class="carousel-item">
            <img style="object-fit: cover;width: 100%;" src="{% thumbnail object.img3 1980x1080 crop="smart" %}" alt="Third slide">
        </div>
            {% endif %}
            {%  if object.img5 %}
        <div class="carousel-item">
            <img style="object-fit: cover;width: 100%;" src="{% thumbnail object.img3 1980x1080 crop="smart" %}" alt="Third slide">
        </div>
        {% endif %}
    {% endif %}
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>