{% load thumbnail %}
{% load i18n %}
<div class="card">
    {% if object.img %}
        <a href="{{ object.id }}"><img style="height: 350px;width: 100%; object-fit: cover;" class="img-fluid" src="{% thumbnail object.img 720x480 crop="smart" %}" alt="" width="100%"></a>
    {% else %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="{{ object.video }}?autoplay=1"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    {% endif %}
    <div class="card-block">
        {% if 'pt' in request.LANGUAGE_CODE %}
            <h2>{{ object.title_PT }}</h2>
            <p class="text-justify">{{ object.description_PT|truncatechars:200 }}</p>
        {% endif %}
        {% if 'en' in request.LANGUAGE_CODE %}
            <h2>{{ object.title_EN }}</h2>
            <p class="text-justify">{{ object.description_EN|truncatechars:200 }}</p>
        {% endif %}
        {% if 'de' in request.LANGUAGE_CODE %}
            <h2>{{ object.title_DE }}</h2>
            <p class="text-justify">{{ object.description_DE|truncatechars:200 }}</p>
        {% endif %}
        {% include 'templates/_share.html' %}
        {% include 'templates/_CRUD.html' %}
    </div>
</div>
