<div class="center-block social" style="width: 200px;">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}/tours/{{ object.id }}"><i class="fa fa-facebook" style="margin:0 5px; font-size: 24px"></i></a>
    <a href="https://www.twitter.com/"><i class="fa fa-twitter" style="margin:0 5px; font-size: 24px"></i></a>
    <a href="https://www.pinterest.com/"><i class="fa fa-pinterest" style="margin:0 5px; font-size: 24px"></i></a>
    <a href="https://www.instagram.com/"><i class="fa fa-instagram" style="margin:0 5px; font-size: 24px"></i></a>
</div>